html
  head
    title='K8s 101'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Kubernetes rocks!
        p We hope you're enjoying learning on Skillshare...
        p 

